openapi: 3.2.0
info:
  title: Common Room API (v2) Me API
  version: 2.0.0
  description: 'Common Room API v2 for accessing contact and organization data.


    For v1 and RTBF APIs see the V1 API documentation.


    To use the Common Room API, you will need to create an API token.

    To create an API token:


    Navigate to Setting | API tokens


    Create a "New Token"


    # Authentication


    -->'
  x-logo:
    url: /common-room-api-logo.svg
servers:
- url: https://api.commonroom.io/community/v2
  description: Common Room API v2
security:
- BearerAuth: []
tags:
- name: Me
  description: Information about the authenticated user
paths:
  /me:
    get:
      summary: Get current user info
      description: 'Retrieve information about the authenticated user, including their profile,

        bookmarked segments, personas, and company details.'
      tags:
      - Me
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '429':
          $ref: '#/components/responses/RateLimited'
      operationId: getMe
      x-operation-id-source: derived
components:
  schemas:
    MeResponse:
      type: object
      required:
      - success
      - data
      properties:
        success:
          type: boolean
          enum:
          - true
        data:
          type: object
          required:
          - id
          - communityId
          - name
          - role
          properties:
            id:
              type: string
              description: Prefixed contact ID (format `c_<number>`)
            communityId:
              type: string
              description: Prefixed community ID (format `com_<number>`)
            name:
              type: string
              description: The authenticated user's display name
            title:
              type:
              - string
              - 'null'
              description: The user's job title
            role:
              type: string
              description: The user's role in the community
            loginEmail:
              type:
              - string
              - 'null'
              description: The user's login email address
            profiles:
              type: array
              items:
                type: object
                required:
                - type
                - handle
                properties:
                  type:
                    type: string
                  handle:
                    type: string
            segments:
              type: array
              description: Segments bookmarked by this user
              items:
                type: object
                required:
                - id
                - name
                properties:
                  id:
                    type: string
                  name:
                    type: string
            personas:
              type: array
              items:
                type: object
                required:
                - id
                - name
                properties:
                  id:
                    type: string
                  name:
                    type: string
            company:
              type: object
              properties:
                name:
                  type:
                  - string
                  - 'null'
                domains:
                  type: array
                  items:
                    type: string
                summary:
                  type:
                  - string
                  - 'null'
    Status:
      type: object
      properties:
        status:
          type: string
          enum:
          - ok
          - failure
          - not-found
          example: success
        reason:
          type: string
        errors:
          type: array
          items:
            type: string
          required:
          - status
      example:
        status: not created
        errors:
        - name is missing
  headers:
    X-RateLimit-Remaining:
      description: The total amount of requests remaining within the interval
      schema:
        type: integer
    X-RateLimit-Limit:
      description: The total amount of requests permitted within the interval
      schema:
        type: integer
  responses:
    RateLimited:
      description: Rate Limited
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
          description: The datetime in epoch seconds when the interval resets
          schema:
            type: integer
        Retry-After:
          description: The UTC datetime when the interval resets
          schema:
            type: string
            format: date-time
      content:
        application/json:
          schema:
            type: object
            properties:
              reason:
                type: string
              rateLimit:
                type: object
                description: A summary of the rate limit encountered, additional information is available in the headers.
                properties:
                  intervalLimit:
                    type: number
                    description: The total amount of requests permitted within the interval
                  intervalRemaining:
                    type: number
                    description: The amount of requests remaining within the interval
                  intervalResetSeconds:
                    type: number
                    description: The amount of time in seconds representing a single interval
                  waitMs:
                    type: number
                    description: The amount of time to wait until the next interval
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Use a Core API JWT as a Bearer token in the Authentication header.\n\nTokens can be created by room Admins through https://app.commonroom.io/\n\nExample:\n\n```\ncurl -H \"Authorization: Bearer abcd123.xzy\" \\\n  https://api.commonroom.io/community/v1/api-token-status\n````\n"
