openapi: 3.2.0
info:
  title: Common Room Core Right to be Forgotten API
  version: 1.0.0
  description: 'Common Room Core REST APIs for getting data in to Common Room.


    For SCIM APIs see the SCIM documentation.


    For New, V2 APIs see the V2 API documentation.


    To use the Common Room API, or get started with the Common Room Zapier integration, you will need to create an API token.

    To create an API token:


    Navigate to Setting | API tokens


    Create a “New Token"


    # Authentication


    -->'
  x-logo:
    url: /common-room-api-logo.svg
servers:
- url: https://api.commonroom.io/community/v1
  description: Common Room Core API v1
tags:
- name: Right to Be Forgotten
paths:
  /user/{email}:
    summary: Represents a Contact
    description: 'Represents a Contact associated with an email address within the room

      identified by the authentication scheme.

      '
    parameters:
    - name: email
      schema:
        type: string
        format: email
        example: contact@example.commonroom.io
      in: path
      required: true
    delete:
      summary: Anonymize Contact
      description: 'Request removal of all personally identifiable information (PII) for the

        Contact associated by this email address.


        This does not immediately anonymize the contact. The anonymization

        is queued and will happen at a future time within 15 days.'
      tags:
      - Right to Be Forgotten
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                $ref: '#../'
              example:
                status: success
        '404':
          description: Not Found
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '429':
          $ref: '#/components/responses/RateLimited'
      operationId: deleteUserByEmail
      x-operation-id-source: derived
components:
  responses:
    RateLimited:
      description: Rate Limited
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
          description: The datetime in epoch seconds when the interval resets
          schema:
            type: integer
        Retry-After:
          description: The UTC datetime when the interval resets
          schema:
            type: string
            format: date-time
      content:
        application/json:
          schema:
            type: object
            properties:
              reason:
                type: string
              rateLimit:
                type: object
                description: A summary of the rate limit encountered, additional information is available in the headers.
                properties:
                  intervalLimit:
                    type: number
                    description: The total amount of requests permitted within the interval
                  intervalRemaining:
                    type: number
                    description: The amount of requests remaining within the interval
                  intervalResetSeconds:
                    type: number
                    description: The amount of time in seconds representing a single interval
                  waitMs:
                    type: number
                    description: The amount of time to wait until the next interval
  headers:
    X-RateLimit-Limit:
      description: The total amount of requests permitted within the interval
      schema:
        type: integer
    X-RateLimit-Remaining:
      description: The total amount of requests remaining within the interval
      schema:
        type: integer
  schemas:
    Status:
      type: object
      properties:
        status:
          type: string
          enum:
          - ok
          - failure
          - not-found
          example: success
        reason:
          type: string
        errors:
          type: array
          items:
            type: string
          required:
          - status
      example:
        status: not created
        errors:
        - name is missing
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Use a Core API JWT as a Bearer token in the Authentication header.\n\nTokens can be created by room Admins through https://app.commonroom.io/\n\nExample:\n\n```\ncurl -H \"Authorization: Bearer abcd123.xzy\" \\\n  https://api.commonroom.io/community/v1/api-token-status\n````\n"
