openapi: 3.2.0
info:
  title: Common Room Token Status API
  x-logo:
    url: /common-room-api-logo.svg
  version: '1.0'
  description: 'Operations tagged Token Status across 2 of this provider''s published API definitions: common-room-core-openapi.yml, common-room-v2-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.commonroom.io/community/v1
  description: Common Room Core API v1
- url: https://api.commonroom.io/community/v2
  description: Common Room API v2
tags:
- name: Token Status
paths:
  /api-token-status:
    get:
      summary: API Token status information
      description: Status information about the API token used in the request.
      tags:
      - Token Status
      responses:
        '200':
          description: Core API Token Information
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiToken'
        '403':
          description: Forbidden
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
                example:
                  status: forbidden
        '429':
          $ref: '#/components/responses/RateLimited'
      operationId: getApiTokenStatus
      x-operation-id-source: derived
    servers:
    - url: https://api.commonroom.io/community/v1
      description: Common Room Core API v1
components:
  headers:
    X-RateLimit-Remaining:
      description: The total amount of requests remaining within the interval
      schema:
        type: integer
    X-RateLimit-Limit:
      description: The total amount of requests permitted within the interval
      schema:
        type: integer
  responses:
    RateLimited:
      description: Rate Limited
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
          description: The datetime in epoch seconds when the interval resets
          schema:
            type: integer
        Retry-After:
          description: The UTC datetime when the interval resets
          schema:
            type: string
            format: date-time
      content:
        application/json:
          schema:
            type: object
            properties:
              reason:
                type: string
              rateLimit:
                type: object
                description: A summary of the rate limit encountered, additional information is available in the headers.
                properties:
                  intervalLimit:
                    type: number
                    description: The total amount of requests permitted within the interval
                  intervalRemaining:
                    type: number
                    description: The amount of requests remaining within the interval
                  intervalResetSeconds:
                    type: number
                    description: The amount of time in seconds representing a single interval
                  waitMs:
                    type: number
                    description: The amount of time to wait until the next interval
  schemas:
    ApiToken:
      type: object
      properties:
        jti:
          type: string
          example: tcpgph92
        communityName:
          type: string
          example: Uncommon
        communityId:
          type: string
          example: 8p980hdo0
    Status:
      type: object
      properties:
        status:
          type: string
          enum:
          - ok
          - failure
          - not-found
          example: success
        reason:
          type: string
        errors:
          type: array
          items:
            type: string
          required:
          - status
      example:
        status: not created
        errors:
        - name is missing
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Use a Core API JWT as a Bearer token in the Authentication header.\n\nTokens can be created by room Admins through https://app.commonroom.io/\n\nExample:\n\n```\ncurl -H \"Authorization: Bearer abcd123.xzy\" \\\n  https://api.commonroom.io/community/v1/api-token-status\n````\n"
x-refined-from:
- common-room-core-openapi.yml
- common-room-v2-openapi.yml
